:host([theme~="weekend"]) [aria-label~="Saturday"] {
  background: var(--lumo-contrast-5pct);
  color: var(--lumo-secondary-text-color);
  pointer-events: none;
}
  
:host([theme~="weekend"]) [aria-label~="Sunday"] {
  background: var(--lumo-contrast-5pct);
  color: var(--lumo-secondary-text-color);
  pointer-events: none;
}

:host([theme~="weekend"]) [aria-label~="Lauantai"] {
  background: var(--lumo-contrast-5pct);
  color: var(--lumo-secondary-text-color);
  pointer-events: none;
}
    
:host([theme~="weekend"]) [aria-label~="Sunnuntai"] {
  background: var(--lumo-contrast-5pct);
  color: var(--lumo-secondary-text-color);
  pointer-events: none;
}