.chart-wrapper  {
    width: 500px;
}

@media (max-width: 1300px) {
    
    .chart-wrapper {
      width: 100%;
    }
}

@media (max-width: 1300px) {
    
  .dashboard-wrapper {
    width: 90%;
  }
}